.hospitalList {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.hospitalLocation {
    margin-bottom: 30px;
}



.cadastroItem {
    position: relative;
    left: 33%
}

#profileImg {
    max-width: 100px;
    position: relative;
    left: 35%;
}

#greenHeartImg {
    max-width: 100px;
    position: relative;
    left: 35%;

}

@media screen and (max-width: 600px) {
    #profileImg {
      left: -2%;
    }
  }


#riscosImg {
    position: relative;
    top: 15%;
}

#policiaImg {
    max-width: 200px;
    position: relative;
    left: 26%;
    top: 20%;
}

#bolsaSangueImg {
    max-width: 200px;
    position: relative;
    left: 26%;
    top: 20%;
}

#susImg {
    max-width: 500px;
    position: relative;
    left: 1%;
    top: 15%;
}

.card-body {
    position: relative;
    top: 10%;
}

#card-body-sus {
    top: -2%;
}

#servicesRow {
    justify-content: center;
}

#hospitalNameTitle {
    text-decoration: underline;
    margin-bottom: 40px;
    font-size: 1.3rem;
}



